<form action = "/posttasks" method = post >
    Description : <input type = "text" name = description>
    completed : <input type = "text" name = completed>
    <button type = "submit">submit</button>     
</form>                      